body{
    background-image: url('images/stillife.jpg');
    margin: 2px;
}
#other {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/stillife.jpg');
}

/*HOMEPAGE*/
.myName{
    text-align: center;
    position: absolute;
    font-size: 5rem;
    top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
}

.intro {
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
    color:black;
}
 /* ICONS */
.icons {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: rotate(10deg);

}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa {
    text-align: center;
    margin: 1.5rem;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.fa :hover {
    color: white;
}

/* NAV BAR */
.navBar {
    height: 100%;
    width: 10; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color:white; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}

.navBarOption {
    padding: 8px 8px 8px 32px;
    margin-top: 2.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    display: block;
    transition: 0.3s;
}

/*ABOUT ME */
.card {
  position: absolute;
  right: 15%;
  height: 50%;
  width: 40%;
  margin: 3rem;
}

.aboutMe {
  margin-bottom: 10%;
  font-size: 1.75rem;
  right: 70%;
  top: 0%;
  position: relative;
  color:white;
}

.image {
  width: 40rem;
  height: 40rem;
  object-fit: contain;
  transform: rotate(270deg);
  border-radius: 50%;
  top: 8%;
  left: 60%;
  position: absolute;
}

/*CONTACT*/
.fa-download {
  color: black;
  font-size: 4rem;
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.buttonLink{
  color: black;
  font-size: 2rem;
  position: absolute;
  top: 30%;
  right: 60%;
  background-color: white;
}

/*SKILLS*/
.skillList, .langList, .studyP {
  color: white;
  font-size: 1.5rem;
}
.skillUl, .studyUl {
  list-style-type: none;
  margin-bottom: 10%;
  font-size: 1.75rem;
  right: 70%;
  position: relative;
  color:white;
}
.skillTitle {
  margin-bottom: 10%;
  font-size: 2.5rem;
  right: 70%;
  position: relative;
  color:white;
}
.langTitle{
  margin-bottom: 10%;
  font-size: 2.5rem;
  right: 145%;
  top: 95%;
  position: absolute;
  color:white;
}

/*QUALIFICATIONS*/
.studyCard {
  margin-top: 1%;
  margin-right: 5%;
  position: relative;
  color: white;
  margin-left: 15%;
}
.studyP, .onlineP {
  font-size: 1.25rem;
  font-style: normal;
}
.studySubtitle, .onlineSubtitle{
  font-size: 1.75rem;
  margin: 3rem;
  font-style: italic;
}
.studyTitle, .onlineTitle{
  font-size:2.5rem;
  margin-top: 10%;
  margin-right: 0%;
}
.onlineCard {
  color: white;
  margin-top: 2%;
  position: absolute;
  right: 5%;
  top: 8%;
}



  
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }